{% extends "base.html" %}

{% block content %}
    <div class="info_block" style="background-color: #f2ddc6">
        <h3 class="text-center text-danger">{{ olimpiad.name }}</h3>

        <div class="container">

            <div class="row" style="margin-top: 40px">
                <div class="col-5">
                    <div align="center">
                        <h4 class="organizer_el" style="display:inline-block">
                            {{ olimpiad.organizer }}
                        </h4>
                    </div>
                    <p style="font-size: 16pt">{{ olimpiad.description }}</p>
                    <div class="text-center" style="margin-top: 30px">
                        <a href="../tasks/{{ olimpiad.id }}" class="card-link">Задания прошлых лет</a>
                    </div>
                    <div class="text-center" style="margin-top: 10px">
                        <a href="{{ olimpiad.link }}" class="card-link">Сайт олимпиады</a>
                    </div>

                </div>

                <div class="col">
                    <ul>
                        {% for s in subjects %}
                            <li class="subject_el">{{ s }}</li>
                        {% endfor %}
                    </ul>

                    <div align="center">
                        <div class="grade_el text-center" style="display: inline-block">
                                {{ olimpiad.grades_description }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if not timetable.empty %}
            <table class="table table-light table-hover" style="margin-top: 30px">
                <caption>Расписание</caption>
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Предмет</th>
                        {% for grade in timetable.grades %}
                            <th scope="col">{{ grade }} класс</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for subject, grades in timetable.dates.items() %}
                    <tr class="table-success">
                        <th scope="row">{{ subject }}</th>
                        {% for grade, value in grades.items() %}
                            <td>{{ value.strftime("%D") }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if news[0]|length > 0 %}
            <h4 class="text-center text-info" style="margin-top: 30px">Последние новости</h4>
            <div class="container" style="margin-top: 50px">
                {% for row in news %}
                    <div class="row justify-content-between" style="margin-top: 30px; margin-bottom: 20px;">
                        {% for item in row %}
                            <div class="col">
                                <div class="card" style="width: 20rem; height: 25rem; padding-bottom: 8px; margin:auto">
                                    <img src={{ item.photo }} onerror="this.src='../static/img/news/default.jpg'" class="card card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <p class="card-text">{{ item.description }}</p>
                                    </div>
                                    <a href="../particular_news/{{ item.id }}" class="card-link btn btn-outline-success" style="width: 6rem; margin: auto">Читать</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div style="text-align: center; margin-top: 50px">
            <a href="/olimpiads" class="btn btn-outline-danger" style="display: inline-block; width: 200px; margin-right: 5px">
                Назад
            </a>
            {% if current_user.is_authenticated %}
                <a href="/register_olimp/{{ olimpiad.id }}" class="btn btn-outline-info" style="display: inline-block; width: 200px; margin-right: 5px">
                    Хочу участвовать
                </a>
            {% else %}
                <a href="/register_olimp/{{ olimpiad.id }}" class="btn btn-outline-secondary disabled" aria-describedby="explanation" style="display: inline-block; width: 200px; margin-right: 5px">
                    Хочу участвовать
                </a>
                <small id="explanation" class="form-text text-muted">Вам надо зарегистрироваться, чтобы участвовать</small>
            {% endif %}
        </div>

    </div>
{% endblock %}
