{% extends "base.html" %}

{% block content %}
	<div class="login_block">
		<h3>Зачем писать олимпиады</h3>
		<p>Каждый год Министерство образования и науки РФ публикует Перечень олимпиад школьников, 
		победители и призёры которых получают льготы при поступлении в вузы.</p>

		<p>Победителям, призёрам и участникам олимпиад положены следующие льготы:</p>

		<ul>
			<li>Поступление в вуз без экзаменов на направления подготовки, соответствующие профилю олимпиады.</li>
			<li>100 баллов ЕГЭ по профильному предмету.</li>
			<li>Максимальный балл по соответствующему дополнительному экзамену: профильной, творческой или профессиональной направленности.</li>
			<li>Дополнительные баллы по портфолио.</li>
		</ul>
		<p>Правда, вуз может утвердить свой перечень олимпиад, призёрам и победителям 
			которых положены льготы с описанием этих льгот. 
		Эту информацию вузы должны опубликовать до 1 октября.</p>

		<p>Нюанс: победителям и призёрам олимпиад всё равно придётся сдавать профильный ЕГЭ для подтверждения знаний.
		 Если результат ЕГЭ будет ниже установленного вузом уровня, выпускнику не зачтут положенные максимальные баллы.</p>
	</div>
{% endblock %}
